/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    
}

.wrapper-page {
    padding: 1rem;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
